@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Reem+Kufi&display=swap");
body {
  font-family: "Reem Kufi", sans-serif;
  background-image: linear-gradient(120deg, #ea4335, #fbbc05, #34a853, #4285f4);
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .navbar .navbar-toggler {
    border: 1px solid rgba(245, 245, 245, 0.368627451); }
  .navbar a {
    color: #ffffff;
    text-transform: uppercase; }

#controls-score {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  text-align: center;
  color: #ffffff; }
  #controls-score .btn {
    border-radius: 60px;
    border: none;
    background: rgba(245, 245, 245, 0.368627451);
    text-transform: capitalize;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 7px; }
  #controls-score #start {
    color: #ffffff; }
  #controls-score #switches {
    margin-top: 12px; }
  #controls-score .score-counter {
    margin-top: 4px; }
  #controls-score .lead {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6); }

#play-buttons {
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  cursor: pointer; }
  #play-buttons .card {
    border-radius: 60px;
    border: 1px solid transparent;
    text-transform: capitalize;
    font-family: 'Nunito Sans', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 7px; }
  #play-buttons .card-body {
    border-radius: 60px;
    border: 1px solid transparent; }
  #play-buttons .red {
    background-color: #ea4335; }
  #play-buttons .yellow {
    background-color: #fbbc05; }
  #play-buttons .green {
    background-color: #34a853; }
  #play-buttons .blue {
    background-color: #4285f4; }

#info-accordion {
  text-align: center; }
  #info-accordion .card {
    border: none;
    background: transparent;
    font-family: 'Nunito Sans', sans-serif;
    border-top: 1px solid rgba(245, 245, 245, 0.368627451);
    border-radius: 0px; }
  #info-accordion .last-border {
    border-bottom: 1px solid rgba(245, 245, 245, 0.368627451); }
  #info-accordion .card-body {
    color: #ffffff; }
  #info-accordion .fa-chevron-down {
    color: #ffffff; }
  #info-accordion h5 {
    font-family: "Reem Kufi", sans-serif;
    color: #ffffff;
    text-transform: uppercase; }
  #info-accordion .rules {
    font-size: 1rem; }

#main-footer {
  margin-top: auto;
  font-family: 'Nunito Sans', sans-serif; }
  #main-footer p {
    color: #ffffff; }
